#define INCL_NLS
#include <os2.h>

#include "SysView2.h"

BITMAP  201 PRELOAD cyril.bmp

ICON    1   PRELOAD os2sys.ico
ICON    202 PRELOAD os2sys.ico
ICON    203 PRELOAD windows.ico
ICON    204 PRELOAD ram.ico
ICON    205 PRELOAD process.ico
ICON    206 PRELOAD threads.ico

DLGTEMPLATE ID_ABOUT PRELOAD MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "ABOUT Dialog", ID_ABOUT, 32, 48, 270, 80, WS_VISIBLE
    BEGIN
        LTEXT           "System Views for OS/2", 65535, 124, 58, 108, 8
        LTEXT           "Copyright[ Courtiat Cyril ]", 65535, 124, 38, 112, 8
        LTEXT           "Email[ courtiat@club-internet.fr ]", 65535, 124, 30, 142, 8
        LTEXT           "Release[ 05/97 ]", 65535, 124, 22, 80, 8
        PUSHBUTTON      "~OK", DID_OK, 201, 1, 40, 14
        CONTROL         201, 201, 2, 2, 21, 16, WC_STATIC, SS_BITMAP | WS_GROUP | WS_VISIBLE
    END
END

DLGTEMPLATE ID_BUTTONS
BEGIN
    DIALOG "ID_BUTTONS", ID_BUTTONS, 74, 57, 225, 22, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        CONTROL "#202", 102,   8, 1, 30, 20, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_ICON
        CONTROL "#203", 103,  46, 1, 30, 20, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_ICON
        CONTROL "#204", 104,  84, 1, 30, 20, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_ICON
        CONTROL "#205", 105, 122, 1, 30, 20, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_ICON
        CONTROL "#206", 106, 160, 1, 30, 20, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP | BS_ICON
    END
END

DLGTEMPLATE ID_MACHINE
BEGIN
    DIALOG "", ID_MACHINE, 0, 0, 230, 82, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        LISTBOX ID_MACHINELIST, 1, 1, 228, 80, LS_NOADJUSTPOS | LS_HORZSCROLL
        PRESPARAMS PP_FONTNAMESIZE , "12.System VIO"
    END
END

DLGTEMPLATE ID_TASKS PRELOAD MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Tasks List", ID_TASKS, 0, 32, 261, 98, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        CONTROL "PID SID HWINDOW Title", ID_TITLETASK, 3, 84, 254, 11, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        PRESPARAMS PP_FONTNAMESIZE , "12.System VIO"
        LISTBOX ID_TASKSLIST, 0, 20, 197, 61, LS_NOADJUSTPOS | LS_HORZSCROLL | LS_EXTENDEDSEL
        PRESPARAMS PP_FONTNAMESIZE , "12.System VIO"
        PUSHBUTTON "Refresh", ID_REFRESHTASK, 14, 3, 38, 14, BS_PUSHBUTTON | BS_DEFAULT | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        PUSHBUTTON "Switch",  ID_SWITCHTASK,  64, 3, 34, 14, BS_PUSHBUTTON | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        PUSHBUTTON "Close",   ID_CLOSETASK,  110, 3, 28, 14, BS_PUSHBUTTON | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        PUSHBUTTON "Quit",    ID_QUITTASK,   150, 3, 28, 14, BS_PUSHBUTTON | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        PUSHBUTTON "Kill",    ID_KILLTASK,   190, 3, 28, 14, BS_PUSHBUTTON | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    END
END


DLGTEMPLATE ID_VIRTUALMEM
BEGIN
    DIALOG "", ID_VIRTUALMEM, 0, 0, 209, 108, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        CONTROL " Available      Delta   SwapSize", ID_VMTITLE, 1, 97, 206, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        PRESPARAMS PP_FONTNAMESIZE , "12.System VIO"
        LISTBOX ID_VMLIST, 1, 1, 206, 92, LS_HORZSCROLL | LS_NOADJUSTPOS
        PRESPARAMS PP_FONTNAMESIZE , "12.System VIO"
    END
END


DLGTEMPLATE ID_PROCS
BEGIN
    DIALOG "Processes", ID_PROCS, 0, 0, 200, 100, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        CONTROL " PID PPID Session Threads Priority CPU time Name", ID_TITLEPROC, 1, 97, 206, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        PRESPARAMS PP_FONTNAMESIZE , "12.System VIO"
        LISTBOX ID_PROCSLIST, 1, 1, 198, 98, LS_HORZSCROLL | LS_NOADJUSTPOS | LS_EXTENDEDSEL
        PRESPARAMS PP_FONTNAMESIZE , "12.System VIO"
        PUSHBUTTON "Refresh", ID_REFRESHPROC, 14, 3, 38, 14, BS_PUSHBUTTON | BS_DEFAULT | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        PUSHBUTTON "Detail", ID_DETAILPROC, 64, 3, 34, 14, BS_PUSHBUTTON | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        PUSHBUTTON "Kill", ID_KILLPROC, 110, 3, 28, 14, BS_PUSHBUTTON | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    END
END


DLGTEMPLATE ID_THREADS
BEGIN
    DIALOG "Threads", ID_THREADS, 0, 0, 448, 100, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        CONTROL "12PID0001234NAME90123", ID_TITLEPIDTID, 1, 91, 118, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
        PRESPARAMS PP_FONTNAMESIZE , "12.System VIO"
        CONTROL " TID TSID Block ID Priority System CPU User CPU Status", ID_TITLETHREAD, 120, 91, 320, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | DT_MNEMONIC | WS_VISIBLE
        PRESPARAMS PP_FONTNAMESIZE , "12.System VIO"
        LISTBOX ID_PIDTIDLIST, 1, 22, 118, 66, LS_HORZSCROLL | LS_NOADJUSTPOS
        PRESPARAMS PP_FONTNAMESIZE , "12.System VIO"
        LISTBOX ID_THREADSLIST, 120, 22, 322, 66, LS_HORZSCROLL | LS_NOADJUSTPOS | LS_EXTENDEDSEL
        PRESPARAMS PP_FONTNAMESIZE , "12.System VIO"
        PUSHBUTTON "Refresh", ID_REFRESHTHREAD, 14, 3, 38, 14, BS_PUSHBUTTON | BS_DEFAULT | BS_NOPOINTERFOCUS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    END
END


MENU ID_MAINWND PRELOAD
BEGIN
    SUBMENU "~Window", ID_WINDOW
    BEGIN
        MENUITEM "~New", ID_NEW
        MENUITEM "~Close", ID_CLOSE
        MENUITEM "E~xit", ID_EXIT
    END
    MENUITEM "~About", ID_COPYRIGHT
END

MENU ID_POPMENU PRELOAD
BEGIN
    MENUITEM "Information", ID_POPITEM,,MIA_FRAMED
END

DLGTEMPLATE ID_ICONWINDOW
BEGIN
    DIALOG "", ID_ICONWINDOW, 0, 0, 40, 40, NOT FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
        CTEXT "ITEM", ID_ICONITEM, 2, 10, 22, 8
        PRESPARAMS PP_FONTNAMESIZE , "3.System VIO"
        CTEXT "DATA", ID_ICONDATA, 2, 2, 22, 8
        PRESPARAMS PP_FONTNAMESIZE , "3.System VIO"
    END
END

